<div class="header" >
  <div class="header-left">
  <div class="header-logo">
    <img src="/assets/Frame.svg" alt="логотип сайта">
  </div>
  <nav class="header-nav">
  <a class="header-nav-item" *ngFor="let item of menuUpperHeader">{{item}}</a>
  <!-- <a class="header-nav-item">{{headerItem2}}</a>
  <a class="header-nav-item">{{headerItem3}}</a> -->
  <button (click)="changeText()"> ИЗМЕНИТЬ </button>
</nav>
</div>
<div class="header-right">
  <a class="header-right-phone-logo">
    <img src="/assets/Phone.svg" alt="логотип телефона">
  </a>
  <a class>+7-(965)-084-29-29</a>
  <div class="header-right-heart-logo"><img src="/assets/heart 1.svg" alt="логотип избранное"></div>
  <div class="header-right-basket">
    <img src="/assets/Mask group.svg" alt="логотип корзина">
    <div>Пусто</div>
  </div>
</div>
</div>
<div class="header-2">
  <div class="header-2-left">
  <div class="logo-menu">
    <img src="/assets/light.svg" alt="логотип меню">
    </div>
  <nav class="header-nav">
  <button class="header-2-nav-item" *ngFor="let item of menuLowerHeader">{{item}}</button>
  <!-- <button class="header-2-nav-item">{{AboutCompany}}</button> 
  <button class="header-2-nav-item">{{header2Item3}}</button>
  <button class="header-2-nav-item">{{header2Item4}}</button>
  <button class="header-2-nav-item">{{header2Item5}}</button> -->
</nav>
</div>
<div class="header-2-right">
<div class="header-2-right-search"> 
  <input type="text" class="search-input" placeholder="Поиск, например Круг зачистной">
  <div class="logo-search">
    <img src="/assets/лупа.svg" alt="логотип-поиск">
    </div>
    <div class="header-2-right-city">
      <span class="logo map"><img src="/assets/map-pin.svg" alt="логотип город"></span>
        <span class="city-name"> Москва</span>
    </div>
  </div>
</div>
</div>
<div class="male-picture">
  <button (click)="isShowMenu = !isShowMenu">Показать фото</button>
  <img src="../assets/backgrounphoto.png" style="width: 100%;" *ngIf="isShowMenu">
</div>
<div class="item-content">
<div class="item-buttons">
  <button class=item-button *ngFor="let item of newPages">{{item}}</button>
</div>
<div class="item-grid">
 <div class="item-grid-left">
  <div class="item-grid-left-text">Строительный отделочный инструмент</div>
  <div class="item-grid-left-action">
  <span class="item-grid-text-action-text">Перейти в каталог</span>
  <a class="item-grid-text-action-button"><img src="../assets/Frame 20.svg"></a>
  </div>
 </div>
 <div class="item-grid-right">
 <div class="item-grid-right-card-1">
  <span class="item-grid-right-card-1-text">Эмали</span>
  <div class="item-grid-right-action">
  <span class="item-grid-text-action-text">Перейти в каталог</span>
  <a class="item-grid-text-action-button"><img src="../assets/Frame 20.svg"></a>
</div>
 </div>
 <div class="item-grid-right-card-2">
  <div class="item-grid-right-card-2-text">Лакокрасочные материалы</div>
  <div class="item-grid-right-action-text-2">
  <span class="item-grid-text-action-text">Перейти в каталог</span>
  <a class="item-grid-text-action-button"><img src="../assets/Frame 20.svg"></a>
</div>
 </div>
 <div class="item-grid-right-card-3">
<div class="item-grid-right-card-2-text">Пены, клеи и герметики</div>
<div class="item-grid-right-action-text-3">
<span class="item-grid-text-action-text">Перейти в каталог</span>
<a class="item-grid-text-action-button"><img src="../assets/Frame 20.svg"></a>
</div>
 </div>
 <div class="item-grid-right-card-4">
  <div class="item-grid-right-card-4-text">Розетки и выключатели</div>
  <div class="item-grid-right-action-text-4">
    <span class="item-grid-text-action-text">Перейти в каталог</span>
    <a class="item-grid-text-action-button"><img src="../assets/Frame 20.svg"></a>
    </div>
</div>
 </div>
</div>
</div>





