<div class="header">
  <div class="header-left">
  <div class="header-logo">
    <img src="/assets/Frame.svg" alt="логотип сайта">
  </div>
  <nav class="header-nav">
  <div class="header-nav-item">Главная</div>
  <div class="header-nav-item">О компании</div>
  <div class="header-nav-item">Каталог</div>
</nav>
</div>
<div class="header-right">
  <div class="header-right-phone-logo">
    <img src="/assets/Phone.svg" alt="логотип телефона">
  </div>
  <div class>+7-(965)-084-29-29</div>
  <div class="header-right-heart-logo"><img src="/assets/heart 1.svg" alt="логотип избранное"></div>
  <div class="header-right-basket">
    <img src="/assets/Mask group.svg" alt="логотип корзина">
    <div>Пусто</div>
  </div>
</div>
</div>

<div class="header-2">
  <div class="header-2-left">
  <div class="logo-menu">
    <img src="/assets/light.svg" alt="логотип меню">
    </div>
  <nav class="header-nav">
  <div class="header-2-nav-item">Каталог</div>
  <div class="header-2-nav-item">Стройметериалы</div>
  <div class="header-2-nav-item">Инструменты</div>
  <div class="header-2-nav-item">Электрика</div>
  <div class="header-2-nav-item">Интерьер и одежда</div>
</nav>
</div>

<div class="header-2-right">
<div class="header-2-right-search"> 
  <input type="text" class="search-input" placeholder="Поиск, например Круг зачистной">
  <div class="logo-search">
    <img src="/assets/лупа.svg" alt="логотип поиск">
    </div>
    <div class="header-2-right-city">
      <div class="logo map"><img src="/assets/map-pin.svg" alt="логотип город"></div>
        <div> Москва</div></div>
  </div>
</div>
</div>

